extends layout

block content
  h1 Viswas
  h2 Search results: Holograms

  - var results = [{ origin: 'Interference of Light', tone: 'Yellow', clarity: 8 }, { origin: 'Recording the Pattern', tone: 'Black', clarity: 6 }, { origin: 'Reconstructing the Image', tone: 'White', clarity: 9 }]

  .container-fluid
    .row
      each item, index in results
        .col-sm-2(style="border:1px solid black; padding:10px; margin:5px;")
          h6 Holograms
          p Origin: #{item.origin}
          p Tone: #{item.tone}
          p Clarity: 
            span(class="clarity-value", data-index=index) #{item.clarity}

  script.
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".clarity-value").forEach(function (element) {
        element.addEventListener("click", function () {
          const index = this.getAttribute("data-index");
          alert(`You purchased item ${index}`);
        });
      });
    });


